<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Save The King | Nueva Sala</title>
    <link rel="icon" type="image/x-icon" href="resources/img/favicon.ico">
    
    <link href="resources/css/roomStyles.css" type="text/css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/06ddcb88ee.js" crossorigin="anonymous"></script>

    <script src="resources/js/carousel.js"></script>

    <meta name="description" content="Save the King Game">
</head>

<body>
    <audio src="resources/audio/spray.mp3" autoplay id="transitionAudio"></audio>
    
    <div id="crearSala">
        <img id="logo" src="resources/img/logoFinal.webp" alt="Logo Save The King">

        <div id="slider-wrapper">
            <button class="slide-arrow" id="slide-arrow-prev">
                &#8249;
              </button>
              <button class="slide-arrow" id="slide-arrow-next">
                &#8250;
              </button>
              <ul class="slides-container" id="slides-container">
                <li class="slide"></li>
                <li class="slide"></li>
                <li class="slide"></li>
                <li class="slide"></li>
              </ul>
        </div>
    </div>
    
    <div id="mute">
        <a id="sound" onclick="someFunction()"><i class="fa-solid fa-volume-high"></i></a>
        <a id="silence" onclick="someFunction()"><i class="fa-solid fa-volume-xmark"></i></a>
    </div>

    <a id="backLink" href="/lobby">
        <i id="back" class="fa-solid fa-arrow-left"></i>
    </a>
    
    <div id="cSalaTransition" style="background-color: #fdea18;"></div>
</body>

</html>