<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Save The King | Nueva Sala</title>
    <link rel="icon" type="image/x-icon" href="resources/img/favicon.ico">
    
    <link href="resources/css/roomStyles.css" type="text/css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/06ddcb88ee.js" crossorigin="anonymous"></script>

    <meta name="description" content="Save the King Game">

    
    <script src="resources/js/soundController.js"></script>
</head>

<body>
    <audio src="resources/audio/music.mp3" loop id="music"></audio>
    <audio src="resources/audio/hover.mp3" id="hoverSound"></audio>
    <audio src="resources/audio/spray.mp3" autoplay id="transitionAudio"></audio>
    <script>
        function checkMute(){
            let name = "mute=";
            let decodedCookie = decodeURIComponent(document.cookie);
            let cookieArray = decodedCookie.split(';');
            for(let i = 0; i <cookieArray.length; i++) {
            let c = cookieArray[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                cookieValue = c.substring(name.length, c.length);
                return cookieValue;
            }
            }
        }

        var audio = document.getElementById("transitionAudio");

        if(checkMute() == "true"){
            audio.volume = 0;
        }
        else{
            audio.volume = 0.2;
        }
    </script>

    <div id="crearSala">
        <img id="logo" src="resources/img/logoFinal.webp" alt="Logo Save The King">

        <div id="slider">
            <ul id="slides">
                <li class="slide"><h1>1</h1></li>
                <li class="slide"><h1>2</h1></li>
                <li class="slide"><h1>3</h1></li>
                <li class="slide"><h1>4</h1></li>
            </ul>
        </div>

        <button class="arrow" id="arrow-prev">
            <i class="fa-solid fa-arrow-left"></i>
        </button>
        <button class="arrow" id="arrow-next">
            <i class="fa-solid fa-arrow-right"></i>
        </button>
    </div>

    <script src="resources/js/carousel.js"></script>
    
    <div id="mute">
        <div id="sound" onclick="mute()"><i class="fa-solid fa-volume-high"></i></div>
        <div id="silence" onclick="unmute()"><i class="fa-solid fa-volume-xmark"></i></div>
    </div>

    <a id="backLink" onclick="saveMusic()" href="/lobby">
        <i id="back" class="fa-solid fa-arrow-left"></i>
    </a>
    
    <div id="cSalaTransition" style="background-color: #fdea18;"></div>
</body>

</html>