<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Save The King</title>
    <link rel="icon" type="image/x-icon" href="resources/img/favicon.ico">
    
    <link href="resources/css/menuStyles.css" type="text/css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/06ddcb88ee.js" crossorigin="anonymous"></script>

    <meta name="description" content="Save the King Game">
</head>

<body>
    <div id="landing">
        <img src="resources/img/logoFinal.webp" alt="Logo Save The King">

        <a id="jugar" href="/lobby"><img src="resources/img/playButton.webp" alt="Jugar"></a>
    </div>
    
    <div id="info">
        <h2>DESARROLLADO POR</h2>
        <h2>JAVIER IREGUI</h2>
        <h2>FÉLIX HERNÁNDEZ</h2>
    </div>

    <a id="instaLink" href="https://www.instagram.com/savetheking_game/">
        <i id="insta" class="fa-brands fa-instagram"></i>
    </a>
    
    <div id="indexTransition" style="background-color: #fdea18;"></div>
</body>

</html>