<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Save The King | Lobby</title>
    <link rel="icon" type="image/x-icon" href="resources/img/favicon.ico">
    
    <link href="resources/css/menuStyles.css" type="text/css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/06ddcb88ee.js" crossorigin="anonymous"></script>

    <meta name="description" content="Save the King Game">
</head>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-RMMTEWMLY2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-RMMTEWMLY2');
</script>

<body>
    <div id="lobby">
        <img id="logo" src="resources/img/logoFinal.png" alt="Logo Save The King">

        <div id="scroll">
            <a id="buscar" href="publica.html">BUSCAR SALA</a>
            <a id="crear" href="publica.html">CREAR SALA</a>
            <form action="">
                <input type="text" id="roomCode" name="roomCode" placeholder="CÓDIGO">
                <input type="submit" id="unirse" value="UNIRSE">
            </form> 
        </div>
    </div>
    
    <div id="mute">
        <a id="sound" onclick="someFunction()"><i class="fa-solid fa-volume-high"></i></a>
        <a id="silence" onclick="someFunction()"><i class="fa-solid fa-volume-xmark"></i></a>
    </div>

    <a id="backLink" href="/">
        <i id="back" class="fa-solid fa-arrow-left"></i>
    </a>
    
    <a id="helpLink" href="/tutorial">
        <i id="help" class="fa-solid fa-circle-question"></i>
    </a>
</body>

</html>