/* TIPOGRAFÃAS */
@font-face {
    font-family: texto;
    src: url(../fonts/Insanibc.woff);
    font-display: swap
}

/* DOCUMENTO */
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    letter-spacing: 4px;
    font-family: 'texto';
    text-align: center;
}
html{
    background-color: #57326b;
}
#landing{
    background-image: url('../img/fondo1.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}
#landing > img{
    margin-top: 5vh;
    height: 35vh;
}
#icons{
    color: rgb(194, 194, 194);
    font-size: 5vh;
    margin-bottom: 3vh;
}
h1{
    font-size: 3vh;
    margin-bottom: 1vh;
}
#landing > h2{
    font-size: 12px;
    width: 85%;
    color: rgb(194, 194, 194);
}
#landing > i{
    font-size: 5vh;
    margin: 2vh 0px;
}
/* INSTAGRAM */
#instaLink{
    position: absolute;
    top: 0;
    right: 0;
    margin: 25px 25px;
    color: white;
}
#insta{
    font-size: 32px;
    color: white;
}

/* test */
