/* TIPOGRAFÍAS */
@font-face {
    font-family: texto;
    src: url(../fonts/Insanibc.woff);
}

/* DOCUMENTO */
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    letter-spacing: 4px;
    font-family: 'texto';
    text-align: center;
}
html{
    background-color: #57326b;
    overflow: hidden;
}
#landing{
    background-image: url('../img/fondo1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: white;
}
#landing > img{
    height: 40%;
}
#icons{
    color: rgb(194, 194, 194);
    font-size: 36px;
    margin-bottom: 5%;
}
h1{
    font-size: 24px;
    margin-bottom: 2%;
}
#landing > h2{
    font-size: 16px;
    width: 80%;
    color: rgb(194, 194, 194);
}
#landing > i{
    font-size: 32px;
    margin: 5% 0px;
}




/* CRÉDITOS */
#info{
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 15px 25px;
    color: white;
}
#info > h2{
    font-size: 12px;
}
/* INSTAGRAM */
#instaLink{
    position: absolute;
    top: 0;
    right: 0;
    margin: 25px 25px;
    color: white;
}
#insta{
    font-size: 24px;
    color: white;
}
