/* TIPOGRAFÃAS */
@font-face {
    font-family: texto;
    src: url(../fonts/Insanibc.woff);
}

/* DOCUMENTO */
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    letter-spacing: 4px;
    font-family: 'texto';
    text-align: center;
}
html{
    background-color: #57326b;
    overflow: hidden;
}
#landing{
    background-image: url('../img/fondo1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#landing > img{
    height: 35%;
    margin-bottom: 5%;
}