/* ------------------------------------------------------------------------------------------------------------------ */
/* -- GLOBAL -------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------ */

/* TIPOGRAFÍAS */
@font-face {
    font-family: texto;
    src: url(../fonts/Insanibc.woff);
    font-display: swap
}

/* DOCUMENTO */
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    letter-spacing: 4px;
    font-family: 'texto';
    text-align: center;
}
html{
    background-color: #57326b;
    overflow: hidden;
}

/* SISTEMA DE MUTEADO */
#mute{
    font-size: 28px;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 25px 50px;
    color: white;
    cursor: pointer;
}

#silence{
    display: none;
    transition: .2s;
}
#silence:hover{
    font-size: 34px;
}

#sound{
    transition: .2s;
}
#sound:hover{
    font-size: 34px;;
}

@keyframes transitionLeft {
    0%   {transform: translateX(0%)}
    25%  {transform: translateX(0%)}
    100% {transform: translateX(-100%)}
}
@keyframes transitionRight {
    0%   {transform: translateX(0%)}
    25%  {transform: translateX(0%)}
    100% {transform: translateX(100%)}
}
#cSalaTransition{
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: white;
  animation-name: transitionLeft;
  animation-duration: 1.5s;
  transform: translateX(-100%);
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* -- CREAR SALA ---------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------ */

/* CONTENIDO */
#crearSala{
  background-image: url('../img/fondo2.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#logo{
    margin-top: 5vh;
    height: 25%;
}
/* BOTÓN ATRAS */
#backLink{
    position: absolute;
    top: 0;
    left: 0;
    margin: 25px 50px;
    color: white;
}
#back{
    font-size: 32px;
    color: white;
    transition: .2s;
}
#back:hover{
    font-size: 48px;
}

#slider{
    width: 60%;
    height: 60%;
    overflow: hidden;
}
#slides{
    overflow: hidden;
    scroll-behavior: smooth;
    list-style: none;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    background-color: rgba(48, 48, 48, 0.616);
    border-radius: 50px;
}
.slide {
    border-radius: 25px;
    margin: 5% 5%;
    flex: 1 0 90%;
}
.slide:nth-child(1) {
    background-color: #49b293;
}
.slide:nth-child(2) {
    background-color: #b03532;
}
.slide:nth-child(3) {
    background-color: #6a478f;
}
.slide:nth-child(4) {
    background-color: #da6f2b;
}
.arrow {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    height: fit-content;
    background-color: transparent;
    font-size: 50px;
    color: white;
    border: none;
    cursor: pointer;
    transition: .2s;
}
.arrow:hover {
    font-size: 70px;
}
#arrow-prev {
    left: 15%;
} 
#arrow-prev:hover {
    left: 12%;
    padding-right: 25px;
} 
#arrow-next {
    right: 15%;
}
#arrow-next:hover {
    right: 12%;
    padding-left: 25px;
} 